/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

body {

  margin: 0;
  font-family: 'Teko', sans-serif;

}

input, button {

  font-family: 'Teko', sans-serif;

}

::selection {

  background: #00E200;
  color: #fff;

}

::-moz-selection {

  background: #00E200;
  color: #fff;

}

::-webkit-scrollbar {

  width: 7px;

}

::-webkit-scrollbar-track {

  background-color: #000;

}

::-webkit-scrollbar-thumb {

  background: #00E200;

}

.matrix-bg {

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -20;

}

.code {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.code h1 {

  color: #fff;
  text-align: center;
  font-size: 32px;
  margin: 0;

}

.code input {

  background-color: rgba(0, 0, 0, .6);
  outline: none;
  border: 1px solid #fff;
  padding: 2px 5px;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;

}

.code button {

  background-color: rgba(0, 0, 0, .6);
  outline: none;
  border: 1px solid #00E200;
  padding: 2px 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

}

.code p.error {

  color: #ff0000;
  font-size: 16px;
  text-align: center;
  display: none;

}
